<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>This is user Profile Page</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{% url "change_password" %}">Change Password </a><br>
    <a href="{% url "update_profile" %}">Edit Profile </a><br>

    <a href="{% url "logout" %}">Logout</a>
</body>
</html>